<dl class="uk-description-list uk-description-list-divider">
    <dt>Prefixo</dt>
    <dd>Prefixo é a parte da mensagem que simboliza um comando. Normalmente aparece antes do nome do
        comando.</dd>
</dl>
<form class="uk-form-stacked">
    <div class="uk-margin">
        <label for="prefix" class="uk-form-label">Prefixo</label>
        <div class="uk-form-controls">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: pencil"></span>
                <input name="prefix" class="uk-input" type="text" placeholder="c." uk-tooltip="title: Escolha o prefixo (padrão c.)">
            </div>
        </div>
    </div>
    <button class="uk-button uk-button-primary"><span class="uk-margin-right" uk-icon="icon: check"></span>
        Salvar</button>
</form>